
body > footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}

body {
    margin-bottom: 60px;
}

.input-group {
    margin-bottom: 20px;
}

.info-news {
    padding-bottom: 20px;
    color: firebrick;
}

#video-output {
    display: none;
}

#alert-file-not-found {
    display: none;
}

#alert-looking-for-videos {
    display: none;
}